body{
    background: #fff;
    font-size: 15px;
}
.center{
    text-align: center;
}
.form-control{
    width: 150px;
    background: #000;
    color: #fff;
    height: 40px;
    border: 1px solid #fff;
    padding: 0 15px;
}
.form-conrol:active {
    border:  1px solid pink;
    box-shadow:  3px 3px 0 #000;
    transition:box-shadow .17s,transform .17s,-webkit-box-shadow .17s,-webkit-transform .17s;   
}
.btn{
    width: 120px;
    background: #000;
    color: #fff;
    margin: auto;
    height: 40px;
    border: 1px solid #fff;
    margin-bottom: 2em;
    
}

.container{
    width: 800px;
    height: 600px;
    border: 1px solid #494949;
    margin: auto;
}
.grid-row{
    display: flex;
}

.grid{
    /* width: calc(100% / 15); */
    height: 32px;
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
}

@media screen and (max-width: 320px){
    .btn{
        width:220px;
        font-size: 14px;
    }
    .form-control{
        widows: 240px;
        margin-bottom:10px;
        font-size: 15px;
    }
    .controls{
        margin: 0 2em;
    }
    .container{
        width: 320px;
    }
}
@media screen and (max-width: 400px){
    .btn{
        width: 150px;
        font-size: 14px;
    }
    .container{
        width:400px;
    }
}


